{% extends 'base.html' %}
{% load static %}
{% block content %}

<header class="hero-detail">
</header>

<!-- NOTE: This is the hero container -->
<div class="container detail-main-container">
  <div class="detail-left">
    <div class="detail-cat-app">
      <span class="detail-category">{{ recipe.category }}</span>
      <span class="detail-appliance">{{ recipe.appliance }}</span>
    </div>
    <h2 class="detail-title">
      {{ recipe.name }}
    </h2>
    <div class="detail-author">
      Recipe by <a href="{% url 'profile' recipe.author %}">{{ recipe.author }}</a>
    </div>
    <div class="detail-rating">
      <img class="detail-view-star" src="{% static 'main_app/images/star-red.png' %}" alt="rating-star">
      {% if recipe.total_reviews %}
      <span class="detail-view-rating">{{ recipe.average_rating|floatformat:1 }} ({{ recipe.total_reviews }})</span>
      {% else %}
      <span class="detail-view-rating">No Reviews Yet</span>
      {% endif %}
    </div>
    <div class="detail-crud-buttons-container">
      {% if user.is_authenticated and user == recipe.author %}
      <a class="btn detail-crud-btn" href="{% url 'recipes_update' recipe.id %}">Edit</a>
      <a class="btn detail-crud-btn" href="{% url 'recipes_delete' recipe.id %}">Delete</a>
      {% endif %}
    </div>
  </div>
  <div class="detail-right">
    <div class="detail-image-container">
      <img id="food-photo" src="{{ recipe.photo_set.first.url }}" alt="photo">
    </div>
    <div class="detail-image-offset-bkg"></div>
  </div>
</div>

<hr class="mb-5">

<div class="container">
  <form method="post" action="{% url 'bookmark_recipe' recipe.id %}">
    {% csrf_token %}
    <button type="submit" class="btn mb-5">
      {% if user in recipe.bookmarks.all %}
      Remove from Bookmarks
      {% else %}
      Bookmark Recipe
      {% endif %}
    </button>
  </form>
</div>

<!-- NOTE: This is the info container -->
<div class="container detail-info-container">
  <div class="container time-serv-container">
    <div class="detail-time">
      <h3 class="time-title">TIME <em>(in minutes)</em>:</h3>
      <span class="number">{{ recipe.time }}</span>
    </div>
    <div class="detail-serv">
      <h5 class="serv-title">SERVINGS:</h5>
      <span class="number">{{ recipe.servings }}</span>
    </div>
  </div>
  <div>
    <h3>Description</h3>
    <p>
    <pre>{{ recipe.description }}</pre>
    </p>
  </div>
  <div>
    <h3>Ingredients</h3>
    <p>
    <pre>{{ recipe.ingredients }}</pre>
    </p>
  </div>
  <div>
    <h3>Directions</h3>
    <p>
    <pre>{{ recipe.directions }}</pre>
    </p>
  </div>
</div>

<!-- NOTE: This is the reviews container -->
<div class="container reviews-main-container">
  <div>
    <h3>Reviews</h3>
  </div>
  {% if user.is_authenticated and user != recipe.author and not has_reviewed %}
  <div><button class="btn add-review-btn">Add Review</button></div>
  <div class="visible hidden">
    <form method="POST" action="{% url 'add_review' recipe.id %}">
      {% csrf_token %}
      {{ review_form.as_div }}
      <button class="btn review-form-btn" type="submit">Submit</button>
    </form>
  </div>
  {% endif %}
  <div class="reviews-list">
    <div>
      {% if recipe.review_set.all %}
      {% for review in recipe.review_set.all %}
      <h4 class="review-user">{{ review.user }}</h4>
      <div class="my-1">
        {% if review.rating == 5 %}
        <img class="review-star" src="{% static 'main_app/images/star-red.png' %}" alt="rating-star">
        <img class="review-star" src="{% static 'main_app/images/star-red.png' %}" alt="rating-star">
        <img class="review-star" src="{% static 'main_app/images/star-red.png' %}" alt="rating-star">
        <img class="review-star" src="{% static 'main_app/images/star-red.png' %}" alt="rating-star">
        <img class="review-star" src="{% static 'main_app/images/star-red.png' %}" alt="rating-star">
        {% elif review.rating == 4 %}
        <img class="review-star" src="{% static 'main_app/images/star-red.png' %}" alt="rating-star">
        <img class="review-star" src="{% static 'main_app/images/star-red.png' %}" alt="rating-star">
        <img class="review-star" src="{% static 'main_app/images/star-red.png' %}" alt="rating-star">
        <img class="review-star" src="{% static 'main_app/images/star-red.png' %}" alt="rating-star">
        {% elif review.rating == 3 %}
        <img class="review-star" src="{% static 'main_app/images/star-red.png' %}" alt="rating-star">
        <img class="review-star" src="{% static 'main_app/images/star-red.png' %}" alt="rating-star">
        <img class="review-star" src="{% static 'main_app/images/star-red.png' %}" alt="rating-star">
        {% elif review.rating == 2 %}
        <img class="review-star" src="{% static 'main_app/images/star-red.png' %}" alt="rating-star">
        <img class="review-star" src="{% static 'main_app/images/star-red.png' %}" alt="rating-star">
        {% else %}
        <img class="review-star" src="{% static 'main_app/images/star-red.png' %}" alt="rating-star">
        {% endif %}
      </div>
      <p>{{ review.content }}</p>
      {% if user.is_authenticated and user == review.user %}
      <form method="POST" action="{% url 'delete_review' review.id %}">
        {% csrf_token %}
        <button class="btn" type="submit">Delete</button>
      </form>
      {% endif %}
      <hr>
      {% endfor %}
      {% else %}
      <p>No reviews for this recipe yet</p>
      {% endif %}
    </div>
  </div>
</div>



<script>
  let image = document.getElementById('food-photo')

  image.onload = function() {
    const aspectRatio = image.width / image.height 
    if (aspectRatio > 1.3) {
      image.classList.add('detail-image-landscape')
    } else {
      image.classList.add('detail-image-portrait')
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    let labelContent = document.querySelector('label[for="id_content"]');
    let labelRating = document.querySelector('label[for="id_rating"]');
    if (labelContent) {
      labelContent.classList.add('review-form-label');
    }
    if (labelRating) {
      labelRating.classList.add('review-form-label');
    }

    let textareaContent = document.getElementById('id_content');
    if (textareaContent) {
      textareaContent.classList.add('review-form-textarea', 'mb-3');
      textareaContent.rows = 5;
    }

    let selectRating = document.getElementById('id_rating');
    if (selectRating) {
      selectRating.classList.add('form-control', 'review-form-select',);
    }

    let addReviewBtn = document.querySelector('.add-review-btn');
    let hiddenReviewForm = document.querySelector('.visible');
  
    if (addReviewBtn && hiddenReviewForm) {
      addReviewBtn.addEventListener('click', function () {
        hiddenReviewForm.classList.toggle('hidden');
      });
    }
  });
</script>


{% endblock %}