{% extends 'base.html' %}

{% block content %}

<header class="hero-lg">
    <h1>About Simmr</h1>
</header>

<div class="container detail-info-container">
    <div>
        <h3 class="about-h3">Description</h3>
        <p>
            Simmr is a vibrant online platform where food enthusiasts come together to share, explore, and celebrate the
            art of cooking. Whether you're a seasoned chef or an aspiring home cook, Simmr provides a welcoming space to
            showcase your favorite recipes, discover unique culinary creations, and connect with a diverse community of
            like-minded individuals. From mouth-watering dishes to innovative cooking techniques, Simmr is the go-to
            destination for all things food, fostering a dynamic and interactive environment where culinary passions
            thrive.
        </p>
        <p>
            At Simmr, our goal is to make the joy of cooking accessible to everyone. Through user-friendly features and
            a visually engaging interface, the platform encourages users to not only share their culinary masterpieces
            but also embark on a culinary journey by trying out recipes from fellow community members. Simmr is more
            than just a recipe-sharing site; it's a lively community that celebrates the creativity, diversity, and
            shared love for food, making every visit a delightful and inspiring experience for food enthusiasts of all
            levels. Join us in the kitchen, where flavors unite and culinary stories unfold!
        </p>
    </div>
    <div>
        <h3 class="about-h3">Mission</h3>
        <p>
            Fostering a global community of cooking enthusiasts, our mission is to provide an inclusive online platform
            for passionate individuals to creatively share and explore diverse recipes.
        </p>
    </div>
    <div>
        <h3 class="about-h3">Vision</h3>
        <p>
            We aspire to be the leading digital hub, inspiring and connecting culinary enthusiasts worldwide through a
            dynamic and delightful experience of sharing, celebrating, and discovering the universal joy of food.
        </p>
    </div>
    <div>
        <h3 class="about-h3">Developers</h3>
        <div class="container">
            <div class="container flex-column my-3">
                <a class="linkedin" href="https://www.linkedin.com/in/ianpetercreative/">
                    <h4 class="dev-name mb-2">Ian MacDonald</h4>
                </a>
                <p>I am a Software Engineer with a passion for serving others and solving complex problems. My prior
                    experience in the creative field and as a project manager helped me develop skills in problem
                    solving, detailed planning, and intuitive design. I want to use those strengths to solve problems
                    and create products that inspire others to do more good.</p>
            </div>
            <div class="container flex-column my-3">
                <a class="linkedin" href="https://www.linkedin.com/in/michaelbmoss/">
                    <h4 class="dev-name mb-2">Mike Moss</h4>
                </a>
                <p>I am a full stack software engineer fascinated by technology’s ability to move the world. My
                    background teaching logic to aspiring law students has provided me with the experience to love
                    working with all kinds of people. My goal is to be a part of the artificial intelligence revolution.
                </p>
            </div>
            <div class="container flex-column my-3">
                <a class="linkedin" href="https://www.linkedin.com/in/ray-rodriguez-/">
                    <h4 class="dev-name mb-2">Ray Rodriguez</h4>
                </a>
                <p></p>
            </div>
        </div>
    </div>
</div>


{% endblock %}