{% extends 'base.html' %}
{% load static %}
{% block content %}


<h1>Home</h1>

<h2>Top-Rated Recipes</h2>
<div class="container">

    {% for recipe in top_recipes  %}
    <div class="card">
        <a class="recipe-card-link" href="{% url 'recipe_detail' recipe.id %}">
        <div class="placeholder-image">Placeholder Image</div>
        <span class="card-category">{{ recipe.category }}</span>
        <h4 class="card-title">{{ recipe.name }}</h4>
        <div>
          <img class="list-view-star" src="{% static 'main_app/images/star-red.png' %}" alt="rating-star">
          {% if recipe.total_reviews %}
            <span class="list-view-rating">{{ recipe.average_rating|floatformat:1 }} ({{ recipe.total_reviews }})</span>
          {% else %}
            <span class="list-view-rating">No Reviews Yet</span>
          {% endif %}
        </div>
      </a>
      </div>
    {% endfor %}
  </div>


<h2>Category: {{ category }}</h2>
<div class="container">

    {% for recipe in category_recipes %}
    <div class="card">
        <a class="recipe-card-link" href="{% url 'recipe_detail' recipe.id %}">
        <div class="placeholder-image">Placeholder Image</div>
        <span class="card-category">{{ recipe.category }}</span>
        <h4 class="card-title">{{ recipe.name }}</h4>
        <div>
          <img class="list-view-star" src="{% static 'main_app/images/star-red.png' %}" alt="rating-star">
          {% if recipe.total_reviews %}
            <span class="list-view-rating">{{ recipe.average_rating|floatformat:1 }} ({{ recipe.total_reviews }})</span>
          {% else %}
            <span class="list-view-rating">No Reviews Yet</span>
          {% endif %}
        </div>
      </a>
      </div>
    {% endfor %}
  </div>

  <h2>Appliance: {{ appliance }}</h2>
  <div class="container">
  
      {% for recipe in appliance_recipes %}
      <div class="card">
          <a class="recipe-card-link" href="{% url 'recipe_detail' recipe.id %}">
          <div class="placeholder-image">Placeholder Image</div>
          <span class="card-category">{{ recipe.category }}</span>
          <h4 class="card-title">{{ recipe.name }}</h4>
          <div>
            <img class="list-view-star" src="{% static 'main_app/images/star-red.png' %}" alt="rating-star">
            {% if recipe.total_reviews %}
              <span class="list-view-rating">{{ recipe.average_rating|floatformat:1 }} ({{ recipe.total_reviews }})</span>
            {% else %}
              <span class="list-view-rating">No Reviews Yet</span>
            {% endif %}
          </div>
        </a>
        </div>
      {% endfor %}
    </div>


{% endblock %}