/* COLORS: */
/* Red: #CF3A15 */
/* Orange: #FFA629 */

body {
    font-family: 'Inter','Helvetica', sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}

h1 {
    font-weight: 700;
    font-size: 48px;
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
}

.navbar-brand {
    color: #CF3A15 !important;
    font-weight: 700;
    font-size: 2em;
}

.nav-link {
    color: black !important;
    font-weight: 600;
    font-size: 1em;
    transition: 0.15s;
}

.nav-link:hover {
    color: #CF3A15 !important;
}

.card-footer {
    border: none !important;
    background-color: #CF3A15;
    color: #fff !important;
    text-align: right;
    padding: 0.5em .8em;
}

.hero-index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 125px; 
    background-color: #FFA629;
    color: white;
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    padding: 10px;
    border: none;
}

.recipe-card-link {
    color: inherit;
}

.recipe-card-link:hover {
    color: inherit;
    text-decoration: none;
}

.card:hover + .card-title {
    text-decoration: underline;
}


.card-title {
    margin-bottom: 0;
}

.placeholder-image {
    background-color: #CF3A15;
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
}

.list-view-image {
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
    object-fit: cover;
}

.card-category {
    color: rgb(121, 121, 121);
    text-transform: uppercase;
    font-size: 0.72rem;
    font-weight: 600;
}

.list-view-star {
    height: 1rem;
    margin-bottom: 2px;
}

.placeholder-image, .list-view-image, .card-category, .card-title, .list-view-star {
    padding: 0 5px;
}

.rating {
    display: flex;
    align-items: center;
    margin-top: 5px;
}




@media (min-width: 992px) {
    .card {
        height: 350px;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {

    .card {
        width: 30%;
        height: fit-content;
        margin-bottom: 30px;
    }
}

@media (max-width: 767px){

    
    .card {
        margin-bottom: 20px;
        width: 100%;
    }
}